@media (min-width: 800px) {
	.container {
		width: 800px;
	}
}

body {
    font-family: "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    width: 100%;
    margin: 0px;
    border: 0px;
}

.container {
    padding: 0px 30px 0px 30px;
}

nav {
    padding: 30px 0px 0px 30px;
    border: 0px;
    background: black;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    list-style: none;
    font-weight: bold;
}

nav li {
    display: inline;
    background: white;
    padding: 3px 3px 1px 3px;
    border-radius: 5px 5px 0px 0px;
    margin-right: 10px;
    font-size: 1.2em;
}


#curpage {
	background: #FFD700;
	text-decoration: none;
	font-color: black;
}





table {
	border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}




footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    padding: 0px 0px 0px 10px;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
	padding: 0px 10px 0px 0px;
}






.freebirdFormviewerViewFormBanner {
    height: 120px !important;
}

.freebirdFormviewerViewFooterImageContainer {
    display: none !important;
}

.freebirdFormviewerViewFooterDisclaimer {
    display: none !important;
}


a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 15px;z
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

code {
  white-space: pre-wrap;
}
